*{
    box-sizing: "border-box"; 
 }
 
 body {
     font-family: Arial;
     padding: 50px;
     background: white;
   }

   .header{
    padding: 30px;
    color: #5262dc;
   }
   #prompt{
    padding:10px;
    background-color: rgb(247, 244, 244);
    border-radius: 10px;
    height:15px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    color: black
   }
   .textcontainer{
    display:flex;
   }
   .textbox{
    flex:1;
    width: 55%;
    height: 500px;
    padding: 20px;
    border-radius: 10px;
    resize: vertical;
    font-size: large;

   }
   .rightcolumn {
    width: 25%;
    height:100px;
    background-color:white;
    padding-left: 20px;
    margin-left: 20px;
    color: rgb(6, 6, 6);
    font-size: 20px;
    border-radius: 5px;
    border:ridge;
    border-color: #5262dc;

}
.button1{
    background-color:#5262dc ;
    color:rgb(246, 238, 238) ;
    padding: 10px 10px;
    border: ridge;
    border-radius: 4px;
    transition: background-color 0.3s;
    font-size: 20px;
  }
  .button1:hover
  {
    background-color: #2f44e2;
  }
   
   