*{
    box-sizing: "border-box"; 
 }
 
 body {
     font-family: Arial;
     padding: 50px;
     background: rgb(186, 235, 248);
     
   }

   .header{
    padding: 30px;
    color: #49800e;
   }
   #prompt{
    padding:10px;

    font-weight: bolder;
    background-color: rgb(254, 247, 157);
    border-radius: 10px;
    height:15px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    color: rgb(48, 1, 24)
   }
   .textcontainer{
    display:flex;
    color: #5262dc;
   }
   .textbox{
    flex:1;
    width: 55%;
    height: 500px;
    padding: 20px;
    border-radius: 10px;
    resize: vertical;
    font-size: large;

   }
   .rightcolumn {
    width: 25%;
    height:100px;
    background-color:white;
    padding-left: 20px;
    margin-left: 20px;
    color: rgb(6, 137, 137);
    font-size: 20px;
    border-radius: 5px;
    border:ridge;
    border-color: #5262dc;
    align-items: center;


}
.button1{
    background-color:#5262dc ;
    color:rgb(246, 238, 238) ;
    padding: 10px 20px;
    border: ridge;
    border-radius: 4px;
    transition: background-color 0.3s;
    font-size: 20px;
    align-items: center;
  }
  .button1:hover
  {
    background-color: #2f44e2;
  }
   
#response{
  font-size: 20px;
  font-weight: bold;
  margin: 1rem;
  border: 3px solid darkblue;
  border-radius: 1rem;
  width: 400px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}
  
form{
  padding: 2rem;
  font-style: italic;
}